/* 

    http://www.w3.org/TR/selectors/#selectors

    Universal Selector
    -avoid using this selector

*/
*{
    background: #00ffff;
}

div[role]{
    color: yellow;
}

div[role="main"]{
    background-color: black;
}

/*
select all the li elements who are the second child of their parents
*/

li:nth-child(2)
{
    background-color: red;
}